nav{
    list-style-type: none;
}

/* li{
    float: left;
    margin: 0%;
    width: 33.33%;
    text-align: center;
}

h1{
    color: #301934;
    font-weight: 900;
} */

.Form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
 
  .Form label {
    margin-top: 10px;
    font-weight: bold;
  }
 
  .Form input,
  .Form textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
  }
 
 
 
  .Form button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
 
  .Form button:hover {
    background-color: #0056b3;
  }